@import "./layout.scss";

.footer {
  background: var(--color-4);
  & .wrapper {
    margin-top: 10px;
  }
  &_line {
    margin: 10px 0;
    border: none;
    background-color: var(--color-1);
    height: 2px;
    grid-area: line;
    display: none;
    @include small-tablet {
      display: block;
    }
  }

  &_logo-title {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 30px;
    min-width: 260px;
    @include small-tablet {
      min-width: auto;
      font-size: 16px;
    }
  }

  &_nav {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "img img" "menu menu";
    gap: 0 30px;
    @include small-tablet {
      grid-template-areas: "img img" "line line" "menu menu";
      gap: 0 15px;
    }
  }

  &_logo {
    display: flex;
    grid-area: img;
    gap: 30px;
    @include small-tablet {
      align-items: center;
      gap: 15px;
    }
  }

  &_wrap {
    gap: 10px;
    @include row-flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 100%;
    @media screen and (max-width: 1180px) {
      gap: 15px 30px;
      justify-content: center;
    }
    @include small-tablet {
      @include image-set("../images/wheel", "png");
      background-repeat: no-repeat;
      background-position: 100% 85%;
      max-width: 460px;
      display: block;
      margin: 0 auto;
    }
  }

  &_box {
    margin-top: -30px;
    grid-area: menu;
    justify-self: end;
    min-width: 260px;
    @include small-tablet {
      margin-top: 0;
      justify-self: start;
    }
  }

  &_menu {
    max-height: 80px;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    @include small-tablet {
      width: 270px;
    }
  }

  &_list {
    width: 130px;
    margin-bottom: 10px;
    @include small-tablet {
      width: 135px;
    }
  }

  &_link {
    transition: 0.4s;
    @include hover {
      color: var(--color-3);
    }
  }

  &_address {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &_address-icon {
    height: 21px;
    max-width: 21px;
    margin-right: 5px;
  }
  &_address-street {
    margin-bottom: 10px;
  }

  &_address-tel {
    margin-bottom: 10px;
  }

  &_address-email {
    display: flex;
  }

  &_social {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1080px) {
      margin-bottom: 20px;
    }
    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &_social-facebook {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    & .footer_address-icon {
      margin-right: 15px;
    }
  }

  &_social-instagram {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-left: -3px;
    & .footer_address-icon {
      margin-right: 12px;
      height: 27px;
      max-width: 27px;
    }
    @include small-tablet {
      margin-bottom: 40px;
    }
  }

  &_social-rules {
    @include small-tablet {
      line-height: 2;
      font-size: 12px;
      max-width: 145px;
    }
  }
}
