@import "./layout.scss";
.services {
  padding: 50px 0 150px 0;
  @include image-set("../images/track", "jpg");
  background-repeat: no-repeat;
  padding: 50px 0 150px 0;
  @media screen and (max-width: 840px) {
    background-image: none;
    padding-top: 0;
    padding-bottom: 100px;
  }
  @include mobile {
    padding-bottom: 50px;
  }
  & .wrapper {
    position: relative;
  }
  &_content {
    display: none;
    position: absolute;
    top: -70px;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #e6e3e3;
    border-radius: 12px;
    opacity: 0;
    transition: opacity 1s ease;
    @include small-tablet {
      min-height: auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  & .wrapper.open &_content {
    display: block;
    animation: showBlock 0.4s ease forwards;
  }

  @keyframes showBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  &_content-box {
    display: flex;
    padding: 70px 70px;
    gap: 50px;
    @include small-tablet {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      align-items: center;
      padding: 40px 20px 20px 20px;
    }
  }

  &_content-text {
    @include size-block(6);
    line-height: 25px;
    text-align: justify;
    @include small-tablet {
      @include size-block(12);
    }
    @include mobile {
      font-size: 13px;
      line-height: 20px;
    }
  }
  &_content-img img {
    @include small-tablet {
      margin: 0 auto;
    }
  }
  &_content-img {
    @include size-block(6);
    @include small-tablet {
      margin: 0 auto;
      @include size-block(12);
    }
  }
  &_content-cross {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    &::after,
    &::before {
      content: "";
      display: block;
      width: 15px;
      height: 5px;
      background-color: var(--color-1);
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg) translate(-3.5px, 3.5px);
    }
  }
  &_title {
    max-width: 900px;
    text-align: end;
    margin-bottom: 100px !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    @include tablet {
      margin-bottom: 60px !important;
    }
    @include mobile {
      margin-bottom: 20px !important;
      border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    }
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px 30px;
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      gap: 25px 15px;

    }
  }

  &_item {
    padding: 10px 10px 20px 10px;
    background-color: var(--color-4);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: crosshair;
    &:nth-child(1) .services_item-icon {
      height: 70px;
      width: 70px;
    }
    &:nth-child(2) .services_item-icon {
      height: 90px;
      width: 90px;
    }
    &:nth-child(3) .services_item-icon {
      height: 96px;
      width: 96px;
    }
    &:nth-child(4) .services_item-icon {
      height: 80px;
      width: 80px;
    }
    &:nth-child(5) .services_item-icon {
      height: 60px;
      width: 70px;
    }
    &:nth-child(6) .services_item-icon {
      height: 70px;
      width: 80px;
    }
    &:nth-child(7) .services_item-icon {
      height: 80px;
      width: 80px;
    }
    &:nth-child(8) .services_item-icon {
      height: 80px;
      width: 80px;
    }
  }
  &_item-icon {
    margin: 15px 0 35px 0;
    @include mobile {
      margin: 10px 0 20px 0;
    }
  }
  &_item-title {
    margin: 0;
    text-align: center;
    @include mobile {
      font-size: 16px;
    }
  }

  &_item-btn {
    width: 100%;
    line-height: 1;
    cursor: pointer;
    background-color: var(--color-4);
  }

  .icon-btn {
    height: 23px;
    width: 44px;
  }
}
