@import "./layout.scss";
.terminal {
  @include image-set("../images/track", "jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0 100px 0;
  @media screen and (max-width: 840px) {
    background-image: none;
    padding-bottom: 60px;
  }
  @include mobile {
    padding-bottom: 20px;
  }
  &_title {
    max-width: 1135px;

    margin-left: auto !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    @include tablet {
      border-radius: 0;
      text-align: center;
    }
  }
  &-swiper {
    margin: 0;
  }
  &_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    @media screen and (max-width: 840px) {
      display: block;
    }
  }
  &_slide-img {
    @media screen and (max-width: 840px) {
      margin: 0 auto;
      border-radius: 20px;
    }
    @include mobile {
      border-radius: 0;
    }
  }
  &_container {
    max-width: 708px;
    @media screen and (max-width: 840px) {
      margin-bottom: 30px;
    }
  }
  &-swiper {
    flex-shrink: 0.3;
    @include tablet {
      flex-shrink: 1;
    }
  }
  &_desc {
    width: 808px;
    @media screen and (max-width: 840px) {
      width: auto;
    }
  }

  &_text {
    margin: 0 0 40px 0;
    max-width: 580px;
    @media screen and (max-width: 1080px) {
      margin-bottom: 0;
      padding: 0 15px;
    }
    @media screen and (max-width: 840px) {
      margin: 0 auto;
    }
  }

  &_address {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }
  &_address-title {
    margin: 0 0 15px 0;
    font-size: 36px;
    line-height: 53px;
    color: var(--color-4);
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }

  &_address-prev {
    margin-right: 20px;
    float: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--color-4);
    @media screen and (max-width: 1080px) {
      display: none;
    }
  }

  &_address-street {
    margin-bottom: 10px;
  }
}

.swiper-button-next {
  color: var(--color-3);
}
.swiper-button-prev {
  color: var(--color-3);
}
